/*
 * CSS File for the solution
 * Tutorial 02
 * Step 03
 * Instructions are in the comments below
 */


/* CSS Colour codes you can use for this exercise */
/*
--red-pantone: #e63946ff;
--honeydew: #f1faeeff;
--non-photo-blue: #a8dadcff;
--cerulean: #457b9dff;
--berkeley-blue: #1d3557ff;
*/

/* Styles for the HTML Body element */

body {
  /* Add a background colour of #1d3557ff */
  background-color: #1d3557ff;

}




/* Then move onto the header styles */

header {
  /* Set the text colour, margins and padding */
  color:aliceblue;
  margin: 0rem;
  padding: 1rem;

}


header .site-title {
  /* Add some cool text styles to the site title */
  /* Experiment with the font-size, font-weight, text-transform, letter-spacing */
  margin: 2rem 0;
  font-size: larger;
  font-weight:bold;
  text-transform: capitalize;
  letter-spacing: 6.8px;
}


header nav {
 padding: 1rem;
  margin: 1rem;
}

header nav ul {
  /* Remove the list styles */
  /* Experiment with list-style property
   * to see what it does and how to remove
   * the bullet points
   */
  /* You may also have tweak the margin and padding */

  list-style: none;
  margin: 20px;
  padding: 0.5px;
}


header a {
  /* Set the text colour and remove the underline */
  /* Make the links white (or any cool colour */
  color:inherit;
  text-decoration: none;
}


header a:hover {
  /* Add an underline to the links when you hover over them */
  text-decoration: underline;

}

/* GENERAL SECTION STYLES */

/* Now let's setup the generic main > section styles */
/* These are styles that are applied just to the section elements
 * that are direct children of the main element
 *
 * <main>
 *   <section>...</section>
 *   <section>...</section>
 *   <section>...</section>
 * </main>
 */

main > section {
  /* Set the margins, padding and background colour */
  /* Set the border radius to give it rounded corners */

  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 5px;

}

/* This fancy code removes the bottom margin from the last section */
main > section:last-child {
  margin-bottom: 0rem;
}

/* HERO SECTION STYLES */

/* Now let's setup the Hero section in main styles */
main section.hero {
  /* Start by setting the padding */
  /* Set the background colour */
  /* Set the border radius to give it rounded corners */

  padding: 50px;
  background-color:blueviolet;
  border-radius: 3rem;
}

main section.hero h1 {
  /* Set the font size, margins and text colour */
  /* Experiment with letter-spacing to see what it does */
  /* Google how to align text in the center */

  font-size:4rem;
  margin: 1rem;
  color:cornflowerblue;
  text-align: center;
}

main section.hero .secondary-heading {
  /* Set the font size, margins and text colour */
  /* Experiment with letter-spacing to see what it does */
  /* Google how to align text in the center */

  font-size:1.9rem;
  margin: 1rem;
  color:cornflowerblue;
  text-align: center;
  letter-spacing: 0.2px;

}

main section.hero img {
  /* You don't need to modify anything here */
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center;
}


/* MENU SECTION STYLES */

/* Next up is the second section, which is our menu styles */

main section.menu {
  /* Set the padding, background colour and border radius */

  padding: 2.5rem;
  background-color: aliceblue;
  border-radius: 2rem;
}

main section.menu ul {
  /* Remove the list styles */
  /* Experiment with list-style property
   * to see what it does and how to remove
   * the bullet points
   */
  /* You may also have tweak the margin and padding */

 list-style: none;
 margin: 1rem;
 padding: 1rem;
}

main section.menu ul li{
  /* Set the padding, margin-top and border radius */
  /* Set the background colour */

  background-color:#a8dadcff;
  padding:15px;
  margin-top: 50px;
  border-radius: 20px;
  
}

main section.menu ul li:nth-child(even){
  background-color: aquamarine;
}

/* Use psuedo classes nth-child(even)
 * to give ever second list item in main
 * a different background colour and text color
 * hint: li:nth-child
 *
 * background-color: #a8dadcff;
 */



/* TESTIMONIAL SECTION STYLES */

/* Almost done! The last section is our testimonial styles */

main section.testimonials {
  /* Set the padding and background colour #f1faeeff */
  /* Set the border radius */

  padding: 10px;
  background-color: #f1faeeff;
  border-radius: 20px;

}

/*
  Create a css selector that targets the h2 element
  inside the testimonials section
  and add the following styles to it:

  - Center the text
  - Experiment with font-size, font-weight, and color to
    design a sweet heading h2

*/
main section.testimonials h2 {
  font-size:x-large;
  color:rgb(72, 10, 196);
  text-align: center;
}

main section.testimonials img {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* Put a border radius on just the top of the image */
}

/*
  Create a css selector that targets the blockquote element
  inside the testimonials section
  and add the following styles to it:

  - Let's make our customer quote look cool
  - Center the text
  - Set the font-weight
  - Set the font size
  - Set the padding
  - Add a background colour #457b9dff
  - Set the text colour
  - Put a border radius on just the bottom of the blockquote

*/

main section.testimonials blockquote{
  font-size:50px;
  text-align: center;
  background-color: #457b9dff;
  color:rgb(72, 10, 196);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
}

footer{
  color: aliceblue;
  margin: 50px;
}

h3 {
  margin: 10px;
}
 nav ul{
  margin: 0.5px;
  list-style: none;
}

footer a{
  color: aliceblue;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

.copywrite{
  letter-spacing: 6.8px;
  text-align: center;
}

/* AND THAT'S IT! YOU ARE DONE. CONGRATULATIONS. POST YOUR LINK! */


/*
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin: 5rem 0rem;
  padding: 1rem;
}
